# ignore user preferences
*.userprefs

# ignore assemblies (as they are re-generated on build)
Library/metadata/
Library/ScriptAssemblies/
Library/CurrentLayout.dwlt
Library/CurrentMaximizeLayout.dwlt
#Library/assetDatabase3
# *.csproj
#*.sln

# ignore Project Settings
# ProjectSettings/